* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4FAFC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    padding: 10px;
}

#logo {
    background-image: url(img/logo.jpg);
    height: 80px;
    width: 335px;
    font-size: 0;
    float: left;
}

nav {
    float: right;
    margin-top: 20px;
}

nav ul {
    text-align: center;
    width: 840px;
}

nav ul li {
    list-style-type: none; 
    width: 150px;
    margin: 5px 0px;
    margin-left: 40px;
    display: inline-block;
} 

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    color: #8CCCC5;
    font-size: 25px;
}

nav ul li a:hover {
    transition: background-color 0.3s ease;
    color: #314595;
    background-color:orange;
    border-radius: 50%;
} 

/* fin de navbar */

#banner {
    border-radius: 10px;
    padding-top: 25px;
    margin-top: 100px;
    width: 1200px;
    height: 770px;
    background-image: url(img/banner.png);
}

.texto {
    margin-left: 25px;
    color: #314595;
    padding: 25px;
    background-color: rgba(244, 250, 252, 0.6);
    height: 280px;
    width: 450px;
    border-radius: 20px;
}

.texto h2 {
    font-size: 50px;
}

.texto p {
    font-size: 20px;
    width: 420px;
}

/* fin de banner */

main section  {
    margin-top: 130px;
    display: inline-block;
    width: 700px;
    height: 800px;
    background-image: url(img/burbujas.jpg);
}

.burbTexto {

    text-decoration: none;
}

.burbTexto li {
    display: inline-block;
}

.prueba {
    height: 700px;
    float: right;
    margin-right: 200px;
    margin-top: 150px;
}

h3 {
    width: 300px;
    font-size: 20px;
}


button {
    margin-top: 60px;
    width: 200px;
    margin-left: 50px;
}

button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, cyan, blue, cyan, blue, cyan, blue, cyan, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* fin de seccion */

.cubos {
    margin-top: 100px;
    width: 1000px;
    height: 300px;
    margin-left: 100px;
    list-style: none;
    display: inline-block;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-left: 25px;
    display: inline-block;
    
}

.img1 {
    background-image: url(img/nino1.png);
}
.img2 {
    background-image: url(img/nino2.png);
}
.img3 {
    background-image: url(img/nino3.png);
}

.img :hover {
    transition: background-color 0.8s ease;
    transition: color 0.8s ease;
    border-radius: 20px;
    background-color: rgba(49, 69, 149, 0.8);
    color: #F4FAFC;
    font-size: 30px;
}

.img p {
    display: block;
    color: rgba(49, 69, 149, 0);;
    font-size: 30px;
    line-height: 300px;
}

/* fin de cubos */

footer div ul {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 25px;
}

footer div ul li {
    list-style-type: none; 
    width: 150px;
    margin: 5px 0px;
    margin-left: 40px;
    display: inline-block;
}

footer {
    margin-top: 200px;
    background-color: #314595;
    height: auto;
    
}

footer div {
    height: 160px;
    padding: 20px; 
    text-align: center;
    color: aliceblue;
}

footer div a {
    color: white;
}

footer div p {
    margin-left: 180px;
    width: 800px;
    margin-bottom: 0px;
}

body {
    background-image: url(img/fondoFooter.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

/* fin de footer */